{% extends 'base.html.twig' %}

{% block title %}
	{{ ad.title }}
{% endblock %}

{% block body %}

	<div class="new-title" style="background-image: url({{ ad.coverImage }})">
		<div class="container">
			<h1>{{ad.title}}</h1>
			<p>{{ad.introduction}}</p>
			<p class="h2">
				<strong>{{ad.rooms}}
					chambres</strong>
				pour
				<strong>{{ad.price}}&euro;</strong>
				par nuit
			</p>
			<a href="#" class="btn btn-primary">Réservez !</a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-3">
				{{ad.content|raw}}
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in ad.images %}
							<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for image in ad.images %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{image.url}}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5>{{ad.title}}</h5>
									<p>{{image.caption}}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col-4">
						<img src="http://placehold.it/64x64" alt="Avatar de Billy">
					</div>
					<div class="col-8">
						<h3>Billy Jean</h3>
						<span class="badge badge-primary">3 annonces</span>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto delectus reprehenderit eos soluta necessitatibus rerum quod dicta tempore dolorem maxime.</p>
				<p>Nobis impedit minima rem commodi doloremque adipisci excepturi molestiae ab quos tempore aliquid quaerat eius, ipsum laboriosam, autem omnis est?</p>
				<p>Recusandae quos suscipit natus cumque numquam sit eveniet, laboriosam impedit doloribus voluptates possimus fugit, pariatur quaerat atque. Assumenda, nemo magnam!</p>
			</div>
		</div>
	</div>


{% endblock %}
